@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@fontsource-variable/geist";


:root {
  /* Main Colors */
  --background: #0f0f0f;
  --foreground: #ffffff;

  /* Card / Surface */
  --card: rgba(255, 255, 255, 0.04);
  --card-foreground: #ffffff;

  /* Popover */
  --popover: #181818;
  --popover-foreground: #ffffff;

  /* Primary */
  --primary: #ef8a17;
  --primary-foreground: #ffffff;

  /* Secondary */
  --secondary: rgba(255, 255, 255, 0.08);
  --secondary-foreground: #ffffff;

  /* Muted */
  --muted: rgba(255, 255, 255, 0.17);
  --muted-foreground: rgba(255, 255, 255, 0.7);

  /* Accent */
  --accent: #ef8a17;
  --accent-foreground: #ffffff;

  /* Borders */
  --border: rgba(255, 255, 255, 0.12);
  --input: rgba(255, 255, 255, 0.1);
  --ring: #ef8a17;

  /* Sidebar */
  --sidebar: #121212;
  --sidebar-foreground: #ffffff;
  --sidebar-border: rgba(255, 255, 255, 0.08);

  /* Destructive */
  --destructive: #ff4d4f;
  --destructive-foreground: #ffffff;

  /* Radius */
  --radius: 1rem;
}

/* @layer base {
  * {
    @apply border-border outline-ring/50;
    }
  body {
    @apply bg-background text-foreground;
    }
  html {
    @apply font-sans;
    }
} */